/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arctik Light', sans-serif;
    background-color: #E6E6E9;
}
 
/* Header */

/* Rechthoek: */

.message {
    padding: .5em;
    color: white;
	display: flex;
	transform: scale(0);
	transition: all .2s ease-in;
	position: absolute;
	top: -100px;
	width: 100%;
}

.message span {
	position: absolute;
    right: 1em;
	top: 1em;
}

.message.active {
	transform: scale(1);
	top: 0;
}

.message.active ~ header {
	margin-top: 61px;
}

.message.red {
	background-color: red;
}

.message.green {
	background-color: green;
}

.message button {
	color: white;
}

h5 {
    font-weight: normal;
    color: #003082;
    margin-left: .2em;
    font-size: 1.5em;
    display: none;
}	

h4 {
    color: #137BD0;
    font-size: .9em;
	margin-bottom: .7em;
}

header nav {
    padding: .8em;
    background-color: #fff;
}

header nav > img {
    width: 3.1875em;
    height: 1.25em;
}

#menu-switch {
    width:  1.9375em;
    height: 1.0625em;
    margin-left: 1em;
}

header ul {
    list-style: none;
    display: none;
}

header ul.active {
	display: inherit;
}

header li {
    border-bottom: .0625rem solid #e6e6e9;
	color: #003082;
}

header li img {
    height: 2.5em;
    padding: .5em .5em 0 .2em;
}

header li a {
    text-decoration: none;
    color: #003082;
    height: 1.5em;
}

/* Newsbox */
body > div:first-of-type {
    display: block;
    width: 100%;
	height: 10.5em;
	background-image: url('../images/centraalstation.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body > div:nth-of-type(2) {
    background-image: url('../images/trein.png');
    background-repeat: repeat-x;
    background-position: center;
    background-size: 200%;
    position: relative;
    top: -1.625em;
}

body > div:nth-of-type(2) > div {
    background-color: #ffc917;
    border-left: .4em solid #003082;
    padding: 0.5em;
    margin: 0 .875em;
    color: #003082;
    box-shadow: 0 2px 0 0 #D8D8D8;
}

body > div:nth-of-type(2) > div p {
    margin: 0.4em 0;
}

body > div:nth-of-type(2) h1 {
    font-size: 1.25em;
    color: #003082;
    margin-bottom: .3125em;
}

body > div:nth-of-type(2) > p {
    color: #137BD0;
    font-size: .9em;
    line-height: .9375em;
    margin-top: .3125em;
    text-align: right;
    margin-right: .875em;
}

body p a {
    text-decoration: none;
    color: #137BD0;
}

/* filter en sorteerfuncties */
form {
    font-size: 1em;
	background-color: #ffc917;
}

form > ul {
    display: flex;
	margin: 0 5em;
}

form > ul li {
    list-style: none;
    padding: .375em .750em .375em 0;
}

form ul > li {
    position: relative;
    color: #A2822B;
}

form ul li li {
    color: #010864;
    width: 9.25em;
}

form ul ul {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 1.6875em;
    max-height: 191px;
    overflow-y: scroll;
}

form ul li:hover > ul {
	display:block
}

/* verhalen */

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 .9375em;
}

main article {
    background-color: #fff;
    border-bottom: .125em solid #D8D8D8;
	margin-bottom: 1em;
}

main article h2 {
    width: 100%;
    margin-bottom: 0em;
	font-weight: normal;
	font-size: 1.5em;
    font-family: 'Arctik Regular', sans-serif;
    color: #010864;
}

.flex {
    display: flex;
}

main article .flex > div {
    width: 50%;
    margin: 0 .1875em;
}
main article .flex > div:first-of-type {
    margin-left: 0; 
}
main article .flex > div:last-of-type {
    margin-right: 0;
    display: flex;
    flex-direction: column;
}
    
main article > div img {
    width: 100%;
}

main article p {
    color: #232856;
    line-height: 1rem;
}

main article footer {
    display: flex;
    margin-top: auto;
}

main article footer a {
    width: 50%;
    font-size: .625em;
    text-decoration: none;
    color: #232856;
    display: flex;
    line-height: .6875rem;
}

main article footer a:last-of-type {
    width: 50%;
    background-color: #137BCF;
    color: #fff;
    font-size: .8125em;
    padding: 0 .5em;
    text-align: center;
    display: block;
    line-height: 2.375em;
    border-bottom: .125px solid #00399E;
}

main article footer a img {
    width: 1.25rem;
    margin-right: .125em;
}

.like-icon {
    width: auto;
    height: 1.56rem;
}

main > h2 {
    color: #137BD0;
    font-size: .9em;
    line-height: .9375em;
    font-weight: normal;
    margin-top: .5em;
}





/* iPad Media Queries */

@media screen and (min-width: 40em) {
	
	h5 {
		display: inline;
	}
	
	body > div:first-of-type {
		height: 19.7em;
	}
	
	body > div:nth-of-type(2) > div {
    	margin: 0 5em;
	}
	
	body > div:nth-of-type(2) {
    	background-size: 120%;
	}
	
	body > div:nth-of-type(2) > p {
		margin-right: 5.5em;
		margin-top: .625em;
	}
	
	body > div:nth-of-type(2) h1 {
    	font-size: 2.25em;
	}
	
	body > div:nth-of-type(2) > div p {
		margin: 0.7em 0;
		font-size: 1.375em;
		line-height: 1.02em;
	}
	
	main > h2 {
		margin-top: 1em;
		margin-bottom: .7em;
	}
	
	main {
		margin: 0 5em;
	}
	
	main > h2 {
		width: 100%;
		margin-left: .3em;
	}
	
	main article {
		width: 49%;
	}
	
	main article p {
		font-size: 1.375em;
		line-height: 1.02em;
		margin-top: .4em;
		margin-bottom: .4em;
	}
	
	main article footer a {
		font-size: 1.125em;
		line-height: 1.2rem;
	}
	
	main article footer a:last-of-type {
    	font-size: 1.125em;
	}
	
	.flex {
		flex-wrap: wrap;
	}
	
	main article .flex > div {
    	width: 100%;
	}
	
	.like-icon {
    	height: 2.4375rem;
	}
}

/* Desktop Media Queries */

@media screen and (min-width: 70em) {
	
	header nav {
		padding: 0.8em 0 0.8em 5em;
	}
	
	main article {
		width: 32%;
		padding: .8em 0.7em 0em;
	}
	
	body > div:first-of-type {
    	height: 27.4375em;
	}
	
	body > div:nth-of-type(2) h1 {
    	font-size: 3em;
		margin: .3em 0;
	}
	
	body > div:nth-of-type(2) > div {
		border-left: .5em solid #003082;
		padding: 2em 10em 2em 2em;
		margin: 0em 5em;
	}
	
	body > div:nth-of-type(2) > p {
		margin-right: 4.4em;
		margin-top: 1em;
		font-size: 1.125em;
	}
	
	body > div:nth-of-type(2) > div p {
		font-size: 1.5em;
		line-height: 1.1em;
	}
	
	header li {
    font-size: 1.5em;
	}
	
	form > ul {
		margin-left: -2.5em;
	}
	
	form ul > li:first-of-type {
		font-size: 1.5em;
		margin-left: 5em;
	}
	
	form ul > li {
		font-size: 1.5em;
		margin-left: 1em;
	}
	
	form > ul > li > ul > li {
		font-size: 1.125em;
	}

	main > h2 {
		font-size: 1.125em;
		margin-top: 2em;
	}
	
	main article h2 {
    	font-size: 1.8125em;
	}
	
	main article p {
		font-size: 1.5em;
		line-height: 1.1em;
	}
	
	.like-icon {
    	height: 2.5625rem;
	}
	
	main article footer a {
    	font-size: 1.3em;
	}
	
	main article footer a:last-of-type {
		font-size: 1.3em;
		border-bottom: .2em solid #00399E;
	}
	
	form ul li li {
		font-size: 1em;
	}
	
	article div div > footer a p {
		font-size: 1.5em;
	}
