* {
	background: url('../images/mobile.png');
	background-repeat: no-repeat;
}

/* iPad Media Queries */

@media screen and (min-width: 40em) {
	* {
		background: url('../images/ipad.png');
		background-repeat: no-repeat;
	}
}
	